.palette {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background: #1e3a8a;
  padding: 10px;
  border-radius: 8px;
}
.color-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #ffffff33;
}
.palette-container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  background-color: "white";
  padding-top: 50px;
}

.canvas-container {
  position: relative;
  width: 800px;
  height: 600px;
  left: 8px;
}

.canvas {
  border: 1px solid black;
  cursor: crosshair;
}

.controls-container {
  background-image: url("background.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  border-radius: 5px;
}

.palet-tools-container {
  padding-top: 10px;
  padding-left: 20px;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.color-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 10px;
  padding-left: 6px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: white;
  background-color: #68bef7;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}

.button-text {
  margin: 5px;
}

.button:hover {
  color: black;
}

.selected {
  border: 3px solid white;
}

.selected-color {
  border: 3px solid black;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #152128f0;
  height: 100vh;
  width: 100vw;
  color: rgb(191, 210, 210);
}

.custom-slider {
  width: 70%;
  margin: 0 auto;
}

.pen-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}
